<footer class="footer">
  <a class="button-arrow-up" href="#" id="header"></a>
  <div class="wrapper-footer">
    <nav class="menu">
      <ul class="footer-sections">
        <li>
          <a
            href="https://github.com/Elena-Gallego"
            target="_blank"
            title="Ir a Elena Gallego"
            >articles</a
          >
        </li>
        <li>
          <a
            href="https://github.com/Elena-Gallego"
            target="_blank"
            title="Ir a Elena Gallego"
            >books</a
          >
        </li>
        <li>
          <a
            href="https://github.com/Elena-Gallego"
            target="_blank"
            title="Ir a Elena Gallego"
            >events</a
          >
        </li>
        <li>
          <a
            href="https://github.com/Elena-Gallego"
            target="_blank"
            title="Ir a Elena Gallego"
            >reasons</a
          >
        </li>
        <li>
          <a
            href="https://github.com/Elena-Gallego"
            target="_blank"
            title="Ir a Elena Gallego"
            >tips</a
          >
        </li>
      </ul>
    </nav>
    <nav class="twitter">
      <ul class="social-media">
        <li>
          <a
            href="https://twitter.com/FrontGallego"
            target="_blank"
            title="Ir a Elena Gallego en Twitter"
            >twitter</a
          >
        </li>
        <li>
          <a
            href="https://www.instagram.com/elena.g.berm/"
            target="_blank"
            title="Ir a Elena Gallego en Instagram"
            >instagram</a
          >
        </li>
        <li>
          <a
            href="https://github.com/Elena-Gallego"
            target="_blank"
            title="Ir a Elena Gallego en GitHub"
            >GitHub</a
          >
        </li>
      </ul>
    </nav>
    <div class="copyright-heart">
      <span class="copyright">©2017</span>
      <span class="components-heart">
        we <i class="fas fa-heart"></i> components
      </span>
    </div>
  </div>
</footer>
