<section class="3-reasons" id="3-reasons">
  <div class="wrapper-reasons">
    <h2 class="reasons-h2">3 reasons to purchase</h2>
    <article class=reason-one>
      <h4>Ut sed menus</h4>
      <p>Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class=reason-two>
      <h4>Curabitur ac erat</h4>
      <p>Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class=reason-three>
      <h4>Morbi dictum</h4>
      <p>Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <a class="button-reasons" value="more reasons">more reasons</a>
  </div>
</section>