// fonts

$primary-font: 'Roboto', sans-serif;
$secondary-font:'Roboto Slab', serif;

// colors

$primary-color: #0271bc;
$secondary-color: #304268;
$tertiary-color: #f26002;
$light-color: #ffffff;
$font-color: #000000;
$paragraph-color: #8ccbea;

