
.footer{
  background: $secondary-color;
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;  

  .button-arrow-up{
    background-color: white;
    background-image:url(../../assets/images/ico-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 0px;
    position: absolute;
    transform:translateY(-25px);
    z-index: 1;    
  }
}
 
.wrapper-footer{  
  color: $light-color;
  text-transform: uppercase;
  height: auto;
  width: 100%;
  font-family: $primary-font;
  font-size: 16px;
  padding: 15px;  
  line-height: 35px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media all and (min-width:768px){
    height: 240px;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    text-align-last: left;
    padding-top:45px;   
    padding-bottom:45px; 
    padding-left: 40px;
    padding-right: inherit;
    line-height: 30px;
  }
  @media all and (min-width:1200px){
    justify-content: center;
  }
    
  .footer-sections {    
    padding-top:30px;
    list-style-type: none;
    text-align: center;    

    @media all and (min-width:768px){
      width: 210px;
      padding-top: inherit;
    }
  } 
    .social-media{    
    padding-top:30px;
    list-style-type: none;
    text-align: center; 

    @media all and (min-width:768px){
      width: 210px;
      padding-top: inherit;
    }
  }
  
 .copyright-heart{
    text-transform:none;
    padding-bottom: 45px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   
    @media all and (min-width:768px){    
      justify-content: left;
      align-items: inherit;      
      order:-1;  
      width: 210px;    
      margin-top: inherit;
    }
    @media all and (min-width:1200px){
      font-size: 14px;

    }
    
    .fas{
      background-image: url(../../images/heart-solid.svg);
      color: $tertiary-color; 
      width: 14px;
      height: 14px;
      transition: color ease 0.4s, font-size ease 0.2s; 
      &:hover {
        color: rgb(239, 249, 255);
        font-size: 22px;
      }      
    }    
  } 
}  



