@keyframes intro {
  from {
    transform: scale(3) rotate(-150deg);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  animation-name: intro;
  animation-duration: 2s;
  z-index: 1;

  .ico-menu-hamburguer {
    background: $primary-color;
    width: 44px;
    height: 44px;
    padding: 15px;
  }
}
