@keyframes intro {
  from {
    transform: scale(3) rotate(-150deg);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  animation-name: intro;
  animation-duration: 2s;
  z-index: 1;

  .ico-menu-hamburguer {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px white solid;
    margin: 5px;
    background: #527393;
    width: 44px;
    height: 44px;
    padding: 15px;

    @media all and (min-width: 768px) {
      width: 55px;
      height: 55px;
    }
  }
}
